nav {
  ul {
    li,
    a {
      font-family: "Montserrat", sans-serif;
    }
  }
}
/* .imgLogo {
  max-width: 8rem; // Limite la taille maximale pour éviter le rétrécissement extrême
  width: 100%; // Permet au logo de s'adapter à l'espace disponible jusqu'à la taille maximale
}

.plume {
  width: 2rem;
  margin-left: auto;
    @media screen and (min-width: 768px){
        width: 1rem;
        padding-left: 5%;
        
    }
}
 */