nav {
  ul {
    li,
    a {
      font-family: "Montserrat", sans-serif;
    }
  }
}

.nav {
  margin: 5px;
  border-radius: 10px;
}
.imgLogo {
  width: 12em;
  margin-left: 0;
  @media screen and (min-width: 800px) {
    margin-left: 4em;
    padding: 1rem;
  }
}
